.fa, .fab, .fad, .fal, .far, .fas { /* bottle icon jumping up*/
    line-height: 2; /* 1 @ size 601*/
}
nav .brand-logo { /* navbar text overflow */ 
    font-size: 1.3rem; /* 2. 1*/
}
.card-panel { /* navbar space */
    margin-bottom: 5rem;
}
main {
    padding-top: 30%;
    flex:  0 auto;
  }
.page-footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
@media only screen and (min-width: 769px) {
    main {
      padding-top: 5%;
    }
    .fa, .fab, .fad, .fal, .far, .fas {
        line-height: 1; /* 1 @ size 601*/
    }
nav .brand-logo {
    font-size: 2.1rem; /* 2. 1*/
    }
}