.fa, .fab, .fad, .fal, .far, .fas { /* bottle icon jumping up*/
    line-height: 2; /* 1 @ size 601*/
}
nav .brand-logo { /* navbar text overflow */ 
    font-size: 1.3rem; /* 2. 1*/
}
.card-panel { /* navbar space */
    margin-bottom: 5rem;
}
input { /* formm input color*/
    color: white;
}
.flashes h4 { /* flash messages bar*/
    line-height: 2;
}
.page-footer { /* sticky footer*/
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
@media only screen and (min-width: 769px) {
    .fa, .fab, .fad, .fal, .far, .fas {
        line-height: 1; /* 1 @ size 601*/
    }
nav .brand-logo {
    font-size: 2.1rem; /* 2. 1*/
    }
}
.divider { /* push footer*/
    margin-bottom: 100px;
    max-height: 0px;
}
#push-down {
    margin-top: 15vh;
}
.row {
    margin-bottom: 5px;
}
.card-panel {
    margin-bottom: 5px;
}
#my-card {
    border: 2px solid darkslateblue;
    border-radius: 2px;
    margin-top: 5px;
}
.text-break {
    word-break: break-word;
}
    #side-image {
    height: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.push-down-col {
    margin-top: 3vh;
}
@media only screen and (min-width: 768px) {
    #side-image {
        height: auto;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
@media only screen and (min-width: 1200px) {
    .push-down-col {
        margin-top: 8vh;
    }
}