{% extends "base.html" %}
{% block content %}

<h3 class="center-align indigo-text hide-on-small-only">Add quote</h3>
<h4 class="center-align indigo-text hide-on-med-and-up">Add quote</h4>

    <!-- add quote form -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel indigo center-align">
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('add_quote') }}">
                        {{ form.csrf_token }}
                        <!-- latin -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-comment prefix white-text"></i>
                                {{ form.latin_text(placeholder="Latin text") }}
                                <ul>
                                    {% for error in form.latin_text.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- english -->
                        <div class="row">
                            <div class=" input-field col s12 left-align">
                                <i class="fas fa-comment-dots prefix white-text"></i>
                                {{ form.english_text(placeholder="English text") }}
                                <ul>
                                    {% for error in form.english_text.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- author -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-user-graduate prefix white-text"></i>
                                {{ form.author(placeholder="Author") }}
                                <ul>
                                    {% for error in form.author.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- display buttons on small -->
                        <div class="row hide-on-med-and-up">
                            <a href="{{ url_for('my_quotes', username=session['user']) }}" class="col s4 offset-s1 btn-large text-shadow red">
                                <i class="fas fa-backspace"></i>
                                </a>
                            <button type="submit" class="col s4 offset-s2 btn-large text-shadow">
                                <i class="fas fa-save"></i>
                            </button>
                        </div>
                        <!-- display buttons on med and large -->
                        <div class="row hide-on-small-only">
                            <a href="{{ url_for('my_quotes', username=session['user']) }}" class="col s4 offset-s1 btn-large text-shadow red">
                                Cancel <i class="fas fa-backspace"></i>
                                </a>
                            <button type="submit" class="col s4 offset-s2 btn-large text-shadow">
                                Add quote <i class="fas fa-save"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}