{% extends "base.html" %}
{% block content %}

    <h3 class="center-align indigo-text hide-on-small-only">Manage authors</h3>
    <h4 class="center-align indigo-text hide-on-med-and-up">Manage authors</h4>

    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card-panel indigo center-align">
                <a href="{{ url_for('add_author') }}" class="center-align btn">Add author</a>
            </div>
        </div>
    </div>

    {% for author in authors %}
    
    <div class="container grey lighten-5" id="my-card">
        <div class="row">
            <div class="col s12">
                <div class="col s4">
                    <img id="side-image"
                            src="{{ author.img }}">
                </div>
                <div class="col s8 push-down-col">
                    <div class="card-action">
                        <p class="left-align indigo-text text-break">Name: {{ author.author_name }}</p>
                    </div>
                    <hr>
                    <div class="card-action">
                        <p class="left-align indigo-text text-break">Era lived: {{ author.era_lived }}</p>
                    </div>
                    <hr>
                    <div class="card-action">
                        <p class="left-align indigo-text text-break">Description: {{ author.description }}</p>
                    </div>
                </div>
            </div>
            <!-- display edit section -->
            <div class="col s6">
                <div class="row">
                    <a href="{{ url_for('change_author', author_id=author._id) }}"
                        class="col s10 offset-s1 btn-large text-shadow">
                        Edit <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <a href="{{ url_for('delete_author_page', author_id=author._id) }}"
                        class="col s10 offset-s1 btn-large text-shadow">
                        Delete <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}

{% endblock %}