{% extends "base.html" %}
{% block content %}

    <h3 class="center-align indigo-text hide-on-small-only">Change password</h3>
    <h4 class="center-align indigo-text hide-on-med-and-up">Change password</h4>

    <!-- change password form -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel indigo center-align">
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('change_password') }}">
                        {{ form.csrf_token }}
                        <!-- old password -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-lock prefix white-text"></i>
                                {{ form.current_password(placeholder="Please enter current password") }}
                                <ul>
                                    {% for error in form.current_password.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- new password -->
                        <div class="row">
                            <div class=" input-field col s12 left-align">
                                <i class="fas fa-lock-open prefix white-text"></i>
                                {{ form.new_password(placeholder="Please enter new password") }}
                                <span class="text-muted grey-text">Must be between 8 and 20 characters.</span>
                                <ul>
                                    {% for error in form.new_password.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                         <!-- confirm new password -->
                         <div class="row">
                            <div class=" input-field col s12 left-align">
                                <i class="fas fa-lock-open prefix white-text"></i>
                                {{ form.confirm_new_password(placeholder="Please re-enter new password") }}
                                <ul>
                                    {% for error in form.confirm_new_password.errors %}
                                    <li style="color:red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- submit / cancel section -->
                        <!-- small screen -->
                        <div class="row hide-on-med-and-up">
                            <a href="{{ url_for('profile', username=session['user']) }}" class="col s4 offset-s1 btn-large text-shadow red">
                            <i class="fas fa-backspace"></i>
                            </a>
                            <button type="submit" class="col s4 offset-s2 btn-large text-shadow">
                            <i class="fas fa-save"></i>
                            </button>
                        </div>
                        <!-- med & lrg screen -->
                        <div class="row hide-on-small-only">
                            <a href="{{ url_for('profile', username=session['user']) }}" class="col s4 offset-s1 btn-large text-shadow red">
                            Cancel <i class="fas fa-backspace"></i>
                            </a>
                            <button type="submit" class="col s4 offset-s2 btn-large text-shadow">
                            Save <i class="fas fa-save"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}