{% extends "base.html" %}
{% block content %}

    <h3 class="center-align indigo-text hide-on-small-only">{{ user_name.capitalize() }}'s quote</h3>
    <h4 class="center-align indigo-text hide-on-med-and-up">{{ user_name.capitalize() }}'s quote</h4>

    <div class="row">
        <div class="col s12 m5 offset-m1">
            <div class="card-panel indigo center-align">
                <a href="{{ url_for('add_quote') }}" class="center-align btn">Add quote</a>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card-panel indigo center-align">
                    <a href="{{ url_for('register') }}" class="center-align btn">Favourite quotes</a>
            </div>
        </div>
    </div>

    <div class="row">
        {% for quote in quotes %}
            {% if quote.added_by == user_name.lower() %}
                <div class="col s10 offset-s1">
                    <div class="card">
                        <div class="card-stacked">
                            <div class="card-action">
                                <p class="center-align">"{{ quote.latin_text }}"</p>
                            </div>
                            <div class="card-action">
                                <p class="center-align">"{{ quote.english_text }}"</p>
                            </div>
                            <div class="card-action">
                                <p class="right-align">Author: {{ quote.author.title() }}</p>
                            </div>
                            <div class="card-action">
                                <p class="right-align">Added by: {{ quote.added_by.capitalize() }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}