{% extends "base.html" %}
{% block content %}

    <h3 class="center-align indigo-text hide-on-small-only">All quotes</h3>
    <h4 class="center-align indigo-text hide-on-med-and-up">All quotes</h4>

    <div class="row">
        {% for quote in quotes %}
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="card-stacked">
                    <div class="card-action">
                        <p class="center-align">"{{ quote.latin_text.title()|censor }}"</p>
                    </div>
                    <div class="card-action">
                        <p class="center-align">"{{ quote.english_text.title()|censor }}"</p>
                    </div>
                    <div class="card-action">
                        <p class="right-align">Author: {{ quote.author.title()|censor }}</p>
                    </div>
                    <div class="card-action">
                        <p class="right-align">Added by: {{ quote.added_by.title()|censor }}</p>
                    </div>
                </div>
                {% if not session.user %}
                <!-- display like section when no user logged in -->
                <!-- display on small and med screen -->
                <div class="col s5 offset-s1 show-on-medium-and-down hide-on-large-only">
                    <div class="row">
                        <a href="{{ url_for('login') }}" class="col s10 offset-s1 btn-large text-shadow">
                        Log In
                        </a>
                    </div>
                </div>
                <div class="col s5 show-on-medium-and-down hide-on-large-only">
                    <div class="row">
                        <div class="col s10 offset-s1 btn-large text-shadow">
                            {{ quote.users_liked|length -1 }} <i class="fas fa-heart white-text"></i>
                        </div>
                    </div>
                </div>
                <!-- large screen -->
                <div class="col s5 hide-on-med-and-down">
                    <div class="row">
                        <a href="{{ url_for('login') }}" class="col s10 offset-s3 btn-large text-shadow">
                        Log In to add favourite <i class="fas fa-check"></i>
                        </a>
                    </div>
                </div>
                <div class="col s5 hide-on-med-and-down">
                    <div class="row">
                        <div class="col s10 offset-s3 btn-large text-shadow">
                            {{ quote.users_liked|length -1 }} <i class="fas fa-heart white-text"></i>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- display like section when user logged in -->
                {% if session.user %}
                <!-- display on small and medium -->
                    <div class="col s5 show-on-medium-and-down hide-on-large-only">
                        <div class="row">
                            <!-- user already liked quote -->
                            {% if session['user'] in quote.users_liked %}
                            <form action="{{ url_for('remove_from_favourites', username=session['user'], id=quote._id) }}" method="POST">
                                <button type="submit" class="col s8 offset-s2 btn-large text-shadow">
                                    <i class="fas fa-heart red-text"></i>
                                </button>
                            </form>
                            {% else %}
                            <!-- user already has not liked yet -->
                            <form action="{{ url_for('add_to_favourites', username=session['user'], id=quote._id) }}" method="POST">
                                <button type="submit" class="col s8 offset-s2 btn-large text-shadow">
                                    <i class="fas fa-heart white-text"></i>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s5 right show-on-medium-and-down hide-on-large-only">
                        <div class="row">
                            <div class="col s8 offset-s2 btn-large text-shadow">
                                {{ quote.users_liked|length -1 }} <i class="fas fa-heart white-text"></i>
                            </div>
                        </div>
                    </div>
                    <!-- display on large -->
                    <div class="col s5 hide-on-med-and-down">
                        <div class="row">
                            <!-- user already liked quote -->
                            {% if session['user'] in quote.users_liked %}
                            <form action="{{ url_for('remove_from_favourites', username=session['user'], id=quote._id) }}" method="POST">
                                <button type="submit" class="col s8 offset-s2 btn-large text-shadow">
                                    Remove favourite <i class="fas fa-heart red-text"></i>
                                </button>
                            </form>
                            {% else %}
                            <!-- user already has not liked yet -->
                            <form action="{{ url_for('add_to_favourites', username=session['user'], id=quote._id) }}" method="POST">
                                <button type="submit" class="col s8 offset-s2 btn-large text-shadow">
                                    Add favourite<i class="fas fa-heart white-text"></i>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s5 right hide-on-med-and-down">
                        <div class="row">
                            <div class="col s8 offset-s2 btn-large text-shadow">
                                {{ quote.users_liked|length -1 }} <i class="fas fa-heart white-text"></i>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="divider"></div>
    
{% endblock %}