{% extends "base.html" %}
{% block content %}

    <h3 class="center-align indigo-text hide-on-small-only">All quotes</h3>
    <h4 class="center-align indigo-text hide-on-med-and-up">All quotes</h4>

    <div class="row">
        {% for quote in quotes %}
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="card-stacked">
                    <div class="card-action">
                        <p class="center-align">"{{ quote.latin_text.title() }}"</p>
                    </div>
                    <div class="card-action">
                        <p class="center-align">"{{ quote.english_text.title() }}"</p>
                    </div>
                    <div class="card-action">
                        <p class="right-align">Author: {{ quote.author.title() }}</p>
                    </div>
                    <div class="card-action">
                        <p class="right-align">Added by: {{ quote.added_by.title() }}</p>
                    </div>
                </div>
                {% if session.user %}
                    <div class="col s5 offset-s1">
                        <div class="row">
                            <form action="{{ url_for('add_to_favourites', username=session['user'], id=quote._id) }}" method="POST">
                                <button type="submit" class="col s8 offset-s2 btn-large text-shadow">
                                    Favourite <i class="fas fa-heart"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="row">
                            <div class="col s8 offset-s2 btn-large text-shadow">
                                Number of likes <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                 {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="divider"></div>
    
{% endblock %}