{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h2 class="center-align indigo-text hide-on-small-only">Create account</h2>
        <h4 class="center-align indigo-text hide-on-med-and-up">Create account</h4>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel indigo center-align">
                <div class="row">
                    <form class="col s12">
                        <!-- username -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-user-plus prefix white-text"></i>
                                <input id="username" name="username" type="text" class="validate">
                                <label for="username white-text">Username</label>
                                <span class="text-muted grey-text">Must be between 5-20 characters.</span>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-user-lock prefix white-text"></i>
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                                <span class="text-muted grey-text">Must be at least 8 characters.</span>
                            </div>
                        </div>
                        <!-- password chceck -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-user-check prefix white-text"></i>
                                <input id="confirm_password" name="confirm_password" type="password" class="validate">
                                <label for="confirm_password">Re-enter Password</label>
                                <span class="text-muted grey-text">Passwords must match.</span>
                            </div>
                        </div>
                        <!-- submit button -->
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="fas fa-at prefix white-text"></i>
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col s8 offset-s2 btn-large text-shadow">
                                Register <i class="fas fa-check"></i>
                            </button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>

{% endblock %}