{% extends "base.html" %}
{% block content %}

    <h3 class="center-align indigo-text hide-on-small-only">Today's quote</h3>
    <h4 class="center-align indigo-text hide-on-med-and-up">Today's quote</h4>

    <div class="row">
        {% for quote in quotes %}
            {% if loop.index -1 == random_id %}
                <div class="col s10 offset-s1">
                    <div class="card">
                        <div class="card-stacked">
                            <div class="card-action">
                                <p class="center-align">"{{ quote.latin_text.title()|censor }}"</p>
                            </div>
                            <div class="card-action">
                                <p class="center-align">"{{ quote.english_text.title()|censor }}"</p>
                            </div>
                            <div class="card-action">
                                <p class="right-align">Author: {{ quote.author.title()|censor }}</p>
                            </div>
                            <div class="card-action">
                                <p class="right-align">Added by: {{ quote.added_by.title()|censor }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}